<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{url}) %>
  <body class="font-sans">
    <div class="container mx-auto w-full h-full">
      <!-- Nav -->
      <%- include('../partials/navbar') %>

      <form action="" method="post" class="w-full max-w-xl items-center mt-10">
        <input type="hidden" name="categoryid" value="<%=category.id%>">
        <!-- Category Name -->
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="name">
              Name
            </label>
          </div>
          <div class="md:w-2/3">
            <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="name" type="text" name="name" value="<%= category.name%>">
          </div>
        </div>
        <!-- Kaydet Area -->
        <div class="md:flex md:items-center">
          <div class="md:w-1/3"></div>
          <div class="md:w-2/3">
            <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="sumbit">
              Kaydet
            </button>
          </div>
        </div>
      </form>
      <div class="w-full mt-4">Blog sayısı: <%=countBlogs%></div>
      <table
          class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mt-5"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3">id</th>
              <th scope="col" class="px-6 py-3">resim</th>
              <th scope="col" class="px-6 py-3">baslik</th>
              <th scope="col" class="px-6 py-3"></th>
            </tr>
          </thead>
          <tbody>
           <% blogs.forEach(blog => { %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                 <%=blog.dataValues.id %>
                </th>
                <td class="px-6 py-4"><img class="w-44" src="/images/<%=blog.dataValues.resim%>" alt=""></td>
                <td class="px-6 py-4"><%=blog.dataValues.baslik%></td>
                <td class="px-6 py-4">
                    <a href="/admin/blogs/<%=blog.dataValues.id%>"><button class="w-20 p-1 bg-blue-600 rounded-md text-white mr-3">Edit</button></a>
                    
                    <form action="/admin/categories/remove" method="post">
                      <input type="hidden" name="blogid" value="<%=blog.id %>">
                      <input type="hidden" name="categoryid" value="<%=category.id %>">
                      <button type="submit" value="" class="w-20 p-1 bg-red-600 rounded-md text-white inline-block">Kategoriden Çıkar</button>
                    </form>
                </td>
              </tr>
           <% }) %>
          </tbody>
        </table>
    </div>
  </body>
</html>
